.body-container-1{
  
  display: flex;


}
.para-container-item1{
  width:50%;
  
  /* height:700px; */
}
.para-style-1{
  padding-top: 24%;
  padding-left: 12%;
  text-align:left;
  color:rgb(239, 114, 114) ;
  font-size: 40px;
}
.para-style-2{
  padding-left: 12%;
 
  text-align:left;
  color:rgb(53, 46, 46) ;
  font-size: 40px;
}
.para-style-3{
  padding-left: 12%;
 
  text-align:left;
  color:rgb(239, 114, 114);
  font-size: 25px;
}
.button-style{
  text-align:left;
  padding-left: 12%;

}
.para-style-button{
  
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgb(45, 174, 243);
  font-size: 25px;

}
.para-container-item2{
  width:50%;
  
}
.para-container-subimg{
  padding-top: 13%;
  width:90%;
  padding-left: 10%;
  height: 82%;
}
.cards-container{
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.home-container3{
  display: flex;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding-top: 3%;
  justify-content: space-between;
}
.home-container3-sub1{
  width:48%;
  padding: 1%;
}
.home-container3-sub1-imgsize{
  width: 100%;
  height: 1200px;
  border: 1px solid blue;
}
.home-container3-sub2{
width: 48%;
padding: 1%;
border: 1px solid red;
}
.home-container3-sub2-item1{
  display: flex;
  border: 1px solid blue;
  margin-top: 50px;
  
}
.home-container3-sub2-text1{
  text-align: left;
  font-size: 25px;

}
.item1-sub1{
  border: 1px solid blueviolet;
  width: 40%;
  padding-left:20px;
}
.item1-sub1-text1{
  color: rgb(244, 111, 111);
  font-size: 20px;
  text-align: left;
  border: 1px solid black;
}
.item1-sub2-text1{
  position: relative;
  margin-top: 20px;
  width: 70%;
  border:1px dashed rgb(187, 58, 58);
  padding:15%;
  text-align: left;
  font-size: 18px;
  color: rgb(187, 58, 58);
  background-color: rgb(250, 230, 209);
  height: auto;
  border-radius: 10px;
}
.icon1-positon-setup{
  position: absolute;
  left:-22px;
  top:30%
}
.item1-sub2{
  width: 40%;
  border: 1px solid yellow;
  position: relative;
}
.item1-sub2-arrow1{
  width: 40%;
  border: 1px solid rgb(85, 85, 71);
  position: absolute;
  bottom: -30px;
  left: 20px;
}
.home-container3-sub2-item2{
  display: flex;
  border: 1px solid blue;
  margin-top: 50px;
  justify-content: flex-start;
}
.item2-sub1{
  border: 1px solid blueviolet;
  width: 40%;
  position: relative;
  left: 0px;
  top: 0px;
  
}
.item2-sub2-arrow2{
  width: 40%;
  border: 1px solid rgb(85, 85, 71);
  position: absolute;
  right: 30px;

  bottom: -30px;
}
.item2-sub2{
  border: 1px solid blueviolet;
  width: 40%;
  padding-left:20px;
}
.item2-sub2-text1{
  color: rgb(251, 210, 76);
  font-size: 20px;
  text-align: left;
  border: 1px solid black;

}
.item2-sub2-text2{
  position: relative;
  margin-top: 20px;
  width: 70%;
  border:1px dashed rgb(253, 239, 47);
  padding:15%;
  text-align: left;
  font-size: 18px;
  
  color: rgb(251, 210, 76);
  background-color: rgb(252, 248, 200);
  height: auto;
  border-radius: 10px;
}
.home-container3-sub2-item3{
  display: flex;
  border: 1px solid blue;
  margin-top: 50px;
}
.item3-sub1{
  border: 1px solid blueviolet;
  width: 40%;
  padding-left:20px;
}
.item3-sub1-text1{
  color:rgb(98, 174, 98);
  font-size: 20px;
  text-align: left;
  border: 1px solid black;
}
.item3-sub2-text1{
  position: relative;
  margin-top: 20px;
  width: 70%;
  border:1px dashed rgb(95, 156, 95);
  padding:15%;
  text-align: left;
  font-size: 18px;
  color: rgb(95, 156, 95);
  background-color: rgb(201, 253, 201);
  height: auto;
  border-radius: 10px;
}
.item3-sub2-arrow1{
  width: 40%;
  border: 1px solid rgb(85, 85, 71);
  position: absolute;
  bottom: -30px;
  left: 20px;
}
.item3-sub2{
  width: 40%;
  border: 1px solid yellow;
  position: relative;
}
.home-container3-sub2-item4{
  display: flex;
  border: 1px solid blue;
  margin-top: 50px;
  justify-content: flex-start;
}
.item4-sub1{
  border: 1px solid blueviolet;
  width: 40%;
  position: relative;
  left: 0px;
  top: 0px;
  
}
.item4-sub2-arrow2{
  width: 40%;
  border: 1px solid rgb(85, 85, 71);
  position: absolute;
  right: 30px;

  bottom: -30px;
}
.item4-sub2{
  border: 1px solid blueviolet;
  width: 40%;
  padding-left:20px;
}
.item4-sub2-text1{
  color: rgb(246, 105, 129);
  font-size: 20px;
  text-align: left;
  border: 1px solid black;

}
.item4-sub2-text2{
  position: relative;
  margin-top: 20px;
  width: 70%;
  border:1px dashed rgb(239, 124, 143);
  padding:15%;
  text-align: left;
  font-size: 18px;
  
  color: rgb(239, 124, 143);
  background-color: rgb(255, 228, 233);
  height: auto;
  border-radius: 10px;
}
.home-container4{
  font-size: 30px;
  color: rgb(47, 47, 47);
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 600;
}
.home-container5{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.home-container5-item1{
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  height:300px ;
  text-align: left;
  position: relative;
  border: 1px solid red;
  border-radius: 10px;
  margin:20px;
}
.home-container5-item2{
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  height:300px ;
  text-align: left;
  position: relative;
  border: 1px solid red;
  border-radius: 10px;
  margin:20px;
}
.home-container5-item3{
  padding-left: 10px;
  padding-right: 10px;
  width: 250px;
  height:300px ;
  text-align: left;
  position: relative;
  border: 1px solid red;
  border-radius: 10px;
  margin:20px;
}
.home-container-rightarrow{
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 50px;
  color: rgb(74, 211, 245);
  position: absolute;
  box-shadow: 0px -2px 2px -2px rgba(237, 233, 233, 0.45),
    2px 0px 10px -2px rgba(207, 207, 207, 0.45),
    0px 2px 10px -2px rgba(207, 207, 207, 0.45),
    -2px 0px 2px -2px rgba(207, 207, 207, 0.45);
  bottom: -25px;
  left: 40%;
}
   .home-container5-item3:hover, .home-container5-item2:hover, .home-container5-item1:hover {
  box-shadow: 0px -2px 2px -2px rgba(141, 140, 140, 0.45),
  2px 0px 10px -2px rgba(141, 140, 140, 0.45),
  0px 2px 10px -2px rgba(141, 140, 140, 0.45),
  -2px 0px 2px -2px rgba(141, 140, 140, 0.45);
}
.home-container5-imgdimentions{
  width: 80%;
  padding: 10%;
  height: 50%;
}
.home-container5-item1-text{
  color: rgb(98, 201, 245);
  text-align: left;
  font: 20px;
  padding-left: 20%;
  font-weight:500 ;
}
.home-container5-item2-text{
  color: rgb(246, 107, 130);
  text-align: left;
  padding-left: 20%;
  font: 20px;
  font-weight:500 ;
}
.home-container5-item3-text{
  color: rgb(52, 148, 52);
  text-align: left;
  padding-left: 20%;
  font: 20px;
  font-weight:500 ;
}
.home-container6{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(242, 242, 242);
  margin-top: 60px;
  
  padding-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
  width: 84%;
  height: auto;
}
.home-container6-sub1{
  text-align: left;
  width: 400px;
  border: 1px solid red;
}
.home-container6-sub1-item1{
  font-size: 35px;
  color: rgb(33, 33, 33);
  font-weight: 600;
}
.home-container6-sub1-item2{
  border: 1px solid greenyellow;
  position: relative;
  height:90px;
  margin-left:30px ;
  background-color: white;
  border-radius: 5px;
  margin-top: 30px;
}
.home-container6-sub1-imgsize{
  position: absolute;
  width: 70px;
  height: 70px;
  left: -30px;
  top:-5px;
}
.home-container6-sub1-item2-text{
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(49, 48, 48, 0.826);
}
.home-container6-sub1-item3{
  padding-right: 20px;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  /* letter-spacing: 0.1ch; */
  color: rgba(49, 48, 48, 0.826);
}
.home-container6-sub1-item4{
  margin-top: 20px;
  border: none;
  width:200px;
  height:60px;
  background-color: rgb(85, 162, 255);
  color: white;
  font-size: 16px;
  padding-top: 7px;
  border-radius: 5px;
}
.home-container6-sub2{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25%;
}
.home-container6-sub3-imgsize{
  /* padding: 10px; */
  width:320px;
}
.home-container7{
  background-color: rgb(255, 221, 227);
  display: flex;
  position: relative;
  padding: 10%;
  justify-content: space-around;
}
.home-container7-sub1{
  background-color: white;
  width: 40%;
  
  border: 1px solid blue;
  border-radius: 10px;
}
.home-container7-sub1-item11{
  background-color: rgb(255, 221, 227);
  margin: 10px;
  border-radius: 10px;
}
.home-container7-sub1-item2{
  color: rgba(255, 60, 0, 0.767);
  font-size: 25px;
}
.home-container7-sub1-item3{
  color: rgb(70, 70, 70);
  font-size: 20px;
  margin-bottom: 30px;
}
.home-container7-sub2{
  width: 40%;
  text-align: left;
}
.home-container7-sub2-item1{
  font-size: 30px;
  color: rgb(194, 88, 88);
  font-weight: 700;
  margin-bottom: 20px;
}
.home-container7-sub2-item2{
  font-size: 30px;
  color: rgb(110, 110, 110);
  font-weight: 600;
  margin-bottom: 20px;
}
.home-container7-sub2-item3{
  margin-top: 20px;
  border: none;
  width:200px;
  height:60px;
  background-color: rgb(85, 162, 255);
  color: white;
  font-size: 16px;
  padding-top: 7px;
  border-radius: 5px;
}
.home-container7-sub2-item4{
  font-size: 30px;
  color: rgb(110, 110, 110);
  font-weight: 600;
  margin-bottom: 20px;
}
.home-container7-sub2-item5{
  margin-top: 20px;
  border: none;
  width:200px;
  height:60px;
  background-color: rgb(85, 162, 255);
  color: white;
  font-size: 16px;
  padding-top: 7px;
  border-radius: 5px;
}